<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout_template :: body(~{::section})">
<section>
    <form method="POST">
        <input type="hidden" name="category" value="1">
        <input type="text" name="title">
        <textarea name="content" id="editorjs" cols="30" rows="10"></textarea>
        <button>글 올리기</button>
    </form>
    <script src="/resources/lib/js/editor.js"></script>
    <script>
        let editor = new EditorJS('editorjs');
    </script>
</section>
</html>