<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.blog.mapper.BoardMapper">
    <insert id="insertBoard" paramType="com.dev.blog.domain.dto.BoardDTO">
        INSERT INTO board (title, category, content, reg_date, mode_date) VALUES (#{title}, #{category}, #{content}, NOW(), NOW())
    </insert>

    <select id="selectBoard" resultType="BoardVO">
        SELECT * FROM board;
    </select>
</mapper>